      <!-- navbar -->
      <nav class="navbar text-white navbar-expand-sm navbar-dark" style="background: skyblue;">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <div class="navbar-nav text-white">
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">About</a>
                    <a class="nav-item nav-link" href="#">Training</a>
                    <a class="nav-item nav-link" href="#">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-white text-center" style="background: skyblue">
      <div class="container">
        <h1 class="display-2">Welcome to Weather Map</h1>
        <p class="display-5">This site uses the Angular 2 and Bootstrap framework. The API provider is OpenWeatherMap </p>
      </div>
    </div>
    
    <div class="container">
      <!--<app-cards *ngFor="let cardID of cardIDs" class="col-sm-4 py-5"></app-cards>-->
      <app-cards class="col-sm-4 py-5"></app-cards>
    </div>




